* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #93AFD4;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #222;
    color: #EFF5FD;
    text-align: center;
    padding: 30px;
}

h3 {
    text-align: center;
}

nav {
    margin-top: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: #EFF5FD;
    font-weight: bold;
}

.menu a:hover {
    color: #93AFD4;
}

.container {
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 20px;
    flex: 1;
}

.foto {
    text-align: center;
}

.foto img {
    width: 150px;
    border-radius: 10%;
}

.foto2 img {
    width: 150px;
    border-radius: 10%;
    display: block;
    margin: 20px auto;
}

.ferramentas,
.portfolio,
.sobre,
.habilidades,
.contato {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.ferramenta {
    text-align: center;
    margin-bottom: 40px;
}

.ferramenta img {
    width: 100px;
    margin-bottom: 10px;
}

.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    background: #93AFD4;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.contato a {
    color: #587BA7;
}

.contato a:visited {
    color: #011733;
}

.contato a:hover {
    color: #2D507D;
}

.noticia {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 15px;
    border-radius: 8px;
}

.noticia1 img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
}

.noticia2 img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 650px;
    border-radius: 5px;
}

.noticia3 img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

.noticia a {
    display: inline-block;
    margin-top: 10px;
    color: #2D507D;
    font-weight: bold;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #EFF5FD;
    margin-top: 20px;
}

@media (max-width:600px) {

    header {
        padding: 20px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        width: 95%;
    }

    .foto img,
    .foto2 img {
        width: 120px;
    }

    .ferramenta img {
        width: 80px;
    }
}