html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #93AFD4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222;
    color: #EFF5FD;
    text-align: center;
    padding: 30px;
}

h3 {
    text-align: center;
}

nav {
    margin-top: 20px;
}

.menu {
    flex-direction: column;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #EFF5FD;
    font-weight: bold;
}

.menu a:hover {
    color: #93AFD4;
}

.container {
    border-radius: 8px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 20px;
    flex: 1;
}

.foto {
    text-align: center;
}

.foto img {
    width: 150px;
    border-radius: 10%;
}

.foto2 img {
    width: 150px;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    padding: 60px;
}

.ferramentas {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.ferramenta {
    text-align: center;
    margin-bottom: 40px;
}

.ferramenta img {
    width: 100px;
    margin-bottom: 10px;
}

.portfolio {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.sobre {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.habilidades {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    background: #93AFD4;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.contato {
    margin-top: 20px;
    background: #EFF5FD;
    padding: 20px;
    border-radius: 8px;
}

.contato a {
    color: #587BA7;
}

.contato a:visited {
    color: #011733;
}

.contato a:hover {
    color: #2D507D;
}

.ferramenta {
    text-align: center;
    margin-bottom: 40px;
}

.ferramenta img {
    width: 100px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #EFF5FD;
    margin-top: 20px;
}